<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="helpDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Help
    </button>
    <ul class="dropdown-menu" aria-labelledby="helpDropdown">
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#sendingFilesModal">Sending files to printer</a></li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#managingFontsModal">Managing Fonts</a></li>
        <li><a class="dropdown-item" href="#" onclick="restartWebserver()">Restart webserver</a></li>
    </ul>
</div>
