<div>
    <h2>How to Manage Fonts</h2>
    <h3>Windows</h3>
    <h4>Drag-and-drop</h4>
    <ul>
	    <li>Open File Explorer</li>
	    <li>In the address bar type \\1.2.3.4\fonts and press ENTER (replace 1.2.3.4 with the IP address of the printer, shown at the top of this browser page)</li>
	    <li>The default username and password are both "label" (lowercase, without the quotes).</li>
	    <li>.ttf font files (Truetype Fonts) can be copied to this location.</li>
	    <li>If there are font files you don't want, you can delete them from this location.</li>
	    <li>Click the "Restart Webserver" in the menu to re-scan the font folder after adding the font.</li>
	    <li>NOTE: Fonts are displayed in alphabetical order.</li>
	    <li>NOTE: Fonts are validated to make sure they do not contain fatal errors before being included in the list of available fonts.</li>
	    <li>NOTE: A source we've used successfully for free online fonts is <a href="https://www.dafont.com">https://www.dafont.com</a>.</li>
    </ul>
</div>
